<div class="c-action-bar">
    <div class="c-action-bar__action c-action-bar__action--left">{{actionLeft}}</div>
    <div class="c-action-bar__info"></div>
    <div class="c-action-bar__action c-action-bar__action--right">{{actionRight}}</div>
</div>