<div class="c-action-bar">
    <div class="c-action-bar__action c-action-bar__action--left">Linke Aktion{{actionLeft}}</div>
    <div class="c-action-bar__info">Lorem ipsum dolor sit.</div>
    <div class="c-action-bar__action c-action-bar__action--right">Rechts{{actionRight}}</div>
</div>