<div class="c-app">
    <div class="c-app__content">
        {{yield}}
    </div>
    <div class="c-app__action-bar">
        {{action-bar actionLeft=actionLeft actionRight=actionRight info=info}}
    </div>
</div>