<div class="c-facts-item">
    <div class="o-media">
        <div class="o-media__img">
            <div class="c-facts-item__icon">
            </div>
        </div>
        <div class="o-media__body">
            <div class="c-facts-item__value">
                {{value}}
            </div>
            <div class="c-facts-item__info">
                {{info}}
            </div>
        </div>
    </div>
</div>