{{yield}}
<h1> Shopping List</h1>
<h3> Cart items </h3>
<ul>
  {{#each state.cartItems as |item|}}
  {{shopping-list/item item=item}}
  {{/each}}
</ul>

<h3> Remaining items </h3>
<ul>
  {{#each remainingItems as |item|}}
  {{shopping-list/item item=item}}
  {{/each}}
</ul>

