<h1>Dein Einkauf</h1>
<div class="c-shopping-summary">
    <div class="c-shopping-summary__item">
        {{facts-item value="200 km" info="Produktionsweg"}}
    </div>
    <div class="c-shopping-summary__item">
        {{facts-item value="10 Würfel" info="Zucker"}}
    </div>
</div>