<div class="c-product-seal">
    <div class="c-product-seal__image">Image</div>
    <p class="c-product-seal__text">Das EU-Siegel beschreibt die Norm in der EU. Es wird für X Produkte vergeben</p>
</div>
