/**
 * ACTION-BAR
 */

.c-action-bar {
    display: flex;
    height: 3.75rem;
    padding: 0 1rem;
    padding-bottom: 2rem;
    line-height: 3rem;

    color: #fff;
    background: #015db3;
    border-top: 1px solid rgba(0, 0, 0, .5);
}

.c-action-bar__action {
    width: 25%;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: .05em;
}

.c-action-bar__action--right {
    text-align: right;
}

.c-action-bar__info {
    flex: 1;
    text-align: center;
}