/**
 * APP
 */

.c-app {
    display: flex;
    flex-direction: column;
    height: 480px;
}

.c-app__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.c-app__action-bar {
    
}