/**
 * FACTS-ITEM
 */

.c-facts-item {
    text-align: center;
}

.c-facts-item__value {
    font-size: 1.5rem;
    margin: .125rem 0;
}

.c-facts-item__info {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: .1em;
}