/**
 * OVERVIEW
 */

.c-overview {
    display: flex;
    height: 100%;
    align-items: start;
}

.c-overview__shopping-list {
    position: relative;
    flex: 1;
    height: 100%;

    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 200px;
        background: linear-gradient(to top, #fff, transparent);
    }
}

.c-overview__shopping-summary {
    width: 33%;
    height: 100%;
    text-align: center;
}