.c-product-seal {

  margin-right: 20px;
}

.c-product-seal__image {
  height: 200px;
  background-color: #00aaff;
}
.c-product-seal__text {
  font-size: .75rem;
  line-height: 130%;
  background-color: #00d4b4;
}
