<div class="c-product-video">
    <video class="c-product-video__video" autoplay loop>
        <source id="mp4" src="/assets/{{detail.filename}}">
    </video>
    <div class="c-product-video__textBox">

        <h1 class="c-product-video__header">{{detail.headline}}</h1>

        <p class="c-product-video__text">{{detail.text}}</p>

    </div>
</div>

