<div class="c-product-slide">
    <div class="c-product-slide__textBox">

        <h1 class="c-product-slide__header">{{model.product}}</h1>

        <p class="c-product-slide__text">Erklärung ErklärungErklärung ErklärungErklärung Erklärung Erklärung ErklärungErklärung ErklärungErklärung Erklärung Erklärung ErklärungErklärung ErklärungErklärung Erklärung Erklärung ErklärungErklärung ErklärungErklärung Erklärung Erklärung ErklärungErklärung ErklärungErklärung Erklärung </p>

    </div>
</div>

