<div class="c-product-slide" style="background-image: url(/assets/{{detail.filename}})">
    <div class="c-product-slide__textBox">

        <h1 class="c-product-slide__header">{{detail.headline}}</h1>

        <p class="c-product-slide__text">{{detail.text}}</p>

    </div>
</div>

