<div class="c-product-slide">
    <div class="c-product-slide__textBox">
        <h1 class="c-product-slide__header">Überschrift</h1>
        <p class="c-product-slide__text">Erklärung</p>
    </div>
</div>

