<div class="c-product-seals">
    <div class="c-product-seals__list">
        {{details/product-seals/seal}}
        {{details/product-seals/seal}}
        {{details/product-seals/seal}}
    </div>
</div>
