<div class="c-viewport">
    <div class="c-app">
        <div class="c-app__content">
            {{outlet}}
        </div>
        <div class="c-app__actions">
            <div class="c-action-bar">
                {{action-bar}}
            </div>
        </div>
    </div>
</div>