{{#app-shell
    info="Für mehr Infos Produkt auf ((★)) legen"
}}

    <div class="c-overview">

        <div class="c-overview__shopping-list u-is-highlight">
            <h1 class="c-section-header">Einkaufsliste</h1>
           {{#if remainingItems.length}}
                {{shopping-list items=remainingItems}}

            {{else}}
                
                <div class="c-billboard">
                    <img src="/images/_shopping-completed.gif" alt="Leonardo DiCaprio ist dein Fan!" style="margin-bottom:1rem" />
                    Super, du hast deinen Einkauf erledigt!
                </div>

            {{/if}}
        </div>

        <div class="c-overview__shopping-summary">
            <h1 class="c-section-header">Dein Einkauf</h1>
            {{shopping-summary
                activePriorities=activePriorities
                cartItems=cartItems
                totalDistance=totalDistance
                totalOrganic=totalOrganic
                totalSugar=totalSugar
                totalPrice=totalPrice
            }}
        </div>
    </div>

{{/app-shell}}
