<div class="c-overview">
    <div class="c-overview__shopping-list">
        {{shopping-list state=model}}
    </div>
    <div class="s-overview__shopping-summary">
        {{shopping-summary}}
    </div>
</div>