<div class="c-overview">
    <div class="c-overview__shopping-list">
        <h1 class="c-overview__header">Einkaufsliste</h1>
        {{shopping-list state=model}}
    </div>
    <div class="c-overview__shopping-summary">
        <h1 class="c-overview__header">Dein Einkauf</h1>
        {{shopping-summary}}
    </div>
</div>