<h1 class="c-section-header u-is-highlight">Bio-Brokkoli</h1>

<div class="c-product-facts">

    <div class="c-product-facts__item">
        <div class="c-card">
            {{facts-item value="22 km" info="Transportweg" simple=true}}
        </div>
    </div>

    <div class="c-product-facts__item">
        <div class="c-card">
            {{facts-item value="Bio" info="Entspricht Standard" simple=true}}
        </div>
    </div>


    <div class="c-product-facts__item">
        <div class="c-card">
            {{facts-item value="22 km" info="Transportweg" simple=true}}
        </div>
    </div>


    <div class="c-product-facts__item">
        <div class="c-card">
            {{facts-item value="22 km" info="Transportweg" simple=true}}
        </div>
    </div>


</div>
